<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/current_user_info' %>
    </section>
    <section>
      <%= render 'shared/input_form' %>
    </section>
  </aside>
  <div class="span8">
    <% if @course_count == 0 %>
      <h3>Babson College Course List</h3>
      <p>List Is Empty.</p>
    <% else %>
      <h3>Babson College <span class="timestamp"> - <%= @course_count %> courses </span></h3>
      <ol class="microposts">
        <%= render @courses %>
      </ol>
      <%= will_paginate @courses %>
    <% end %>    
  </div>
 
</div>