<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
        <%= render 'shared/user_info' %>
    </section>
    <section>
        <%= render 'shared/input_form' %>
    </section>
  </aside>
  
  <% if @user.student? %>
    <div class="span8">
      <% if @user.reviews.any? %>
        <h3> Reviews (<%= @user.reviews.count %>)</h3>
        <ol class="microposts">
          <%= render @reviews %>
        </ol>
        <%= will_paginate @reviews %>
      <% end %>
    </div>
  <% else %>
    <div class="span8">
      <%= render 'follow_form' if signed_in? %>
      <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div>
  <% end %>
</div>