<% if signed_in? %>
	<a href="<%= user_path(current_user) %>">
	  <%= gravatar_for current_user %>
	</a>
	<h1><%= link_to display_name(current_user), current_user %></h1>
	<span><%= pluralize(current_user.reviews.count, "review") %></span>
	<span><%= pluralize(current_user.verses.count, "like") %></span>
<% else %>
	<%= gravatar_for current_user %>
	<h1>Guest</h1>
	<%= link_to 'Sign up', signup_path %>
<% end %>