<div class="field" style="background-color:#eeeefd;padding: 5px;-moz-border-radius: 5px;
border-radius: 5px;">
<h5 style="color: darkblue"> Review Form </h5>
<%= form_tag('/create_review', :method => "POST") do%>
	<%= autocomplete_field_tag :title, nil, autocomplete_course_title_courses_path, size: 50,  placeholder: "Course Title" %>
	<%= select_tag(:semester, 
	    options_for_select([['Spring', 1], ['Summer', 2], ['Fall', 3], ['Winter', 4]],3)) %>
	<%= select_tag :year, 
	  options_for_select([['2011', 2011], ['2012', 2012], ['2013', 2013]],2012) %>
	<%= autocomplete_field_tag :professor, nil, autocomplete_course_title_courses_path, size: 50,  placeholder: "Professor" %>
	<%= text_area_tag :content_1, nil, spellcheck: true, maxlength: 140, placeholder: verse_topic(1), title: verse_topic(1) %>
	<%= text_area_tag :content_2, nil, spellcheck: true, maxlength: 140, placeholder: verse_topic(2), title: verse_topic(2) %>
	<%= text_area_tag :content_3, nil, spellcheck: true, maxlength: 140, placeholder: verse_topic(3), title: verse_topic(3) %>
	<%= text_area_tag :content_4, nil, spellcheck: true, maxlength: 140, placeholder: verse_topic(4), title: verse_topic(4) %>
    <%= submit_tag "Submit Review", class: "btn btn-primary" %>
<% end %>
</div>