<li>
  <span class="content"><%= link_to course.title, course %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(course.created_at) %> ago.
    <%=pluralize(course.reviews_count, "review")%> for 
    <%=pluralize(course.schedules.count, "session")%>
  </span>
  <% if current_user.admin? %>
    <%= link_to "delete", course, method: :delete,
                                     data: { confirm: 'You sure?' },
                                     title: course.title %>
  <% end %>
</li>