<li>
  <strong><%= link_to review.schedule.course.title , review.schedule.course %></strong>
  <span class="timestamp">
    <%= number_to_season(review.schedule.semester) %>  <%= review.schedule.year %>
  </span>
  <span class="content" >
    <table>
      <% review.verses.all.each do |v| %>
        <tr>
          <td style="width:500px" title='<%=verse_topic(v.topic_id)%>'><%= v.content %><td>
          <td>
            <%= form_tag({controller: 'votes', action: 'create'}, :remote => true, :'data-update-target' => "update-container-" + v.id.to_s, style: 'margin: 0px 0px 2px 0px') do %>
              <%= hidden_field_tag :verse_id, v.id %>
              <button type="submit" class="btn btn-info btn-mini" id="update-container-<%=v.id%>">
                <%= v.votes.count %> <i class="icon-thumbs-up icon-white"></i>
              </button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago 
    <% if !review.user.nil? %>
      by <%= link_to review.user.name, review.user %>.
    <% end %>
  </span>
  <% if current_user?(review.user) %>
    <%= link_to "delete", review, method: :delete,
                                     data: { confirm: 'You sure?' },
                                     title: review.schedule.course.title %>
  <% end %>
</li>